<!DOCTYPE html>
<html>
    <head>
        <!--Necessary for Flask to read an external JS file-->
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>AJAX Snippets</title>
    </head>


    <!--Sending data from JavaScript to store in Flask memory, dictionary-->
    <div>
        <h2>Dictionary Flask Memory</h2>
        <p>The following stores two inputs as a key value pair in a dictionary from the Flask memory. Also uses Ajax.</p>
        <form id="channel">
            <p>Input existing channel/create new channel</p>
            <input id="channelInput" placeholder="channel name" list="channels" autocomplete="off">
            <datalist id="channels"></datalist>


            <input id="channelItem" placeholder="Add Item" type="text" autocomplete="off">
            <input id="channelSubmit" type="submit">
        </form>

        <!--Show the selected channel item dynamically-->
        <form id="showChannel">
            <p>Select the channel and see the current items stored in Flask memory</p>
            <select id="channelNames"></select>
            <input type="submit" value="#showChannel">
        </form>
        <ul id="items"></ul>
    </div>
</html>